.controls-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.mode-selector {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.video-element {
  display: flex;
  width: 320px;
  justify-content: center;
  align-items: center;
}

.autotune-checkbox {
  display: flex;
}

.autotune-checkbox-text {
  font-size: 1rem;
  margin: 3px 0 0 10px;
}
